certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
cupy-cuda110==8.4.0
cycler==0.10.0
dataclasses==0.8
docker-pycreds==0.4.0
easydict==1.9
efficientnet-pytorch==0.7.0
fastrlock==0.5
filelock==3.0.12
future==0.18.2
gcloud==0.18.3
gdown==3.12.2
gitdb==4.0.5
GitPython==3.1.13
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
joblib==1.0.0
jsonpatch==1.28
jsonpointer==2.0
kiwisolver==1.3.1
matplotlib==3.3.4
nose==1.3.7
numpy==1.19.5
oauth2client==4.1.3
pandas==1.1.5
pathtools==0.1.2
Pillow==8.1.0
pkg-resources==0.0.0
portalocker==2.2.1
promise==2.3
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.2
requests==2.25.1
rsa==4.7
scikit-learn==0.24.1
scipy==1.5.4
sentry-sdk==0.20.0
shortuuid==1.0.1
six==1.15.0
smmap==3.0.5
subprocess32==3.5.4
threadpoolctl==2.1.0
torch==1.7.1
torch-encoding==1.2.2b20210204
torchaudio==0.7.0
torchfile==0.1.0
torchvision==0.8.1+cu110
tornado==6.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.3
visdom==0.1.8.9
wandb==0.10.18
websocket-client==0.57.0
yacs==0.1.8
